body{
    padding: 1em 10em;
    background-color: #D5FFF3;
    font-family: Verdana, sans-serif;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: #1E5AA8;
}

a:hover {
    background-color: #46cc2f;
    border-bottom: 1px solid;
}

a:visited {
  color: #163F7A;
}

/* Main block */
.main-content {
    background-color: #BFDBF7;
    border-radius: 10px;
    padding: 1em 4em;
}

/* Page Title */
.title {
    margin-bottom: 10px;
}